@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="font-family: 'Courier New', Courier, monospace; font-size: 36px; font-weight: bold; color: darkred;">ATT GH-300 live agents</h1>
    <img src="https://picsum.photos/800/400?random=1" alt="Seattle Skyline" style="max-width: 100%; height: auto; margin-top: 20px;" />
</div>
